<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <title>Cats</title>
    </head>
    
    <body>
        
        <div id="cats">
            <h1>Cats</h1>
        </div>
        
        <div>
            <link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" type="text/css">
            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
            <script src="javascripts/cats.js"></script>
            <link rel="stylesheet" href="stylesheets/cats.css"/>
        </div>

    </body>
</html>
